﻿@model Calcuate

@{ViewBag.Title = " Create Employee"; }

    <form asp-controller="home" asp-action="Calculate" method="post" class="mt-3">
        <div class="from-group row">
            <label asp-for="Num1" class="col-sm-2 col-form-label"> </label>
            <div class=" col-10">
                <input asp-for="Num1" class="form-control" placeholder="">

            </div>
            <label asp-for="Num2" class="col-sm-2 col-form-label"> </label>
            <div class=" col-10">
                <input asp-for="Num2 " class="form-control" placeholder="">
                
            </div>

            <div class=" col-5">
                <button type="submit" class="form-control">+</button>
                
            </div>
            <div class=" col-5">
                <button type="submit" class="form-control">-</button>
            </div>
            <div class=" col-5">
                <button type="submit" class="form-control">*</button>
            </div>
            <div class=" col-5">
                <button type="submit" class="form-control">/</button>
            </div>
        </div>
        <label asp-for="Total" class="col-sm-2 col-form-label"> </label>
        <div class=" col-10">
            <input asp-for="Total " class="form-control" placeholder="">

        </div>

    </form>