﻿
@model Employee

@{ViewBag.Title = " Create Employee"; }

<form asp-controller="home" asp-action="Create" method="post" class="mt-3">
    <div class="from-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"> </label>
        <div class=" col-10">
            <input asp-for="Name " class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"  ></span>
        </div>
        <label asp-for="Email" class="col-sm-2 col-form-label"> </label>
        <div class=" col-10">
            <input asp-for="Email " class="form-control" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        
        <div class=" col-10">
           <button type="submit" class="form-control">Create</button>
        </div>
    </div>


</form>